.heading {
	background-color: #d6d3c7;
}

.test {
	border: 2px solid;
}

.input {
	text-align: left;
}

.code-like {
	font-family: "Courier New", Courier, monospace;
}

#r-type-table,
#i-type-table,
#j-type-table,
#message {
	display: none;
}

.tab {
	padding-left: 0.25em;
	display: inline-block;
}

/* Responsive Youtube Videos */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
